/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  //background: url('../../../content/images/jhipster_family_member_0.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  .hipster {
    //background: url('../../../content/images/jhipster_family_member_0.svg') no-repeat center top;
    background-size: contain;
  }
}

.card-body {
  min-height: 310px;
}

mat-table {
  height: 200px;
  min-height: 250px !important;
  max-height: 250px;
}

button {
  margin-right: 10px;
}

table {
  width: 100%;
}

td {
  width: 10%;
  text-align: left;
}

.mat-column-numSerie {
  width: 20%;
  min-width: 10%;
}