<div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner strokeWidth="2" diameter="70" *ngIf="isLoadingResults" color="primary"></mat-spinner>
</div>
<div class="row">
    <div class="col-md-12" [ngSwitch]="isAuthenticated()">
        <div class="col-sm-11">
            <h2 id="page-heading" style="font-size: 1.5rem;margin-bottom: 20px">
                <span>Bienvenido, {{username|async}}!</span>
            </h2>
        </div>
        <div class="row">
            <div class="card col-sm-12" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_RECEPTOR', 'ROLE_USER_EMISOR']">
                <div class="card-header-success">
                    <h4 class="card-title">Comportamientos de los documentos emitidos {{ tiempo }}.</h4>
                </div>
                <div class="card-body">
                    <div class="flex">
                        <div class="flex-item">
                            <div style="display: block;">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                                        <canvas baseChart width="500" height="140"
                                                [datasets]="lineChartData"
                                                [labels]="lineChartLabels"
                                                [options]="lineChartOptions"
                                                [colors]="lineChartColors"
                                                [legend]="lineChartLegend"
                                                [chartType]="lineChartType"
                                                [plugins]="lineChartPlugins"
                                                (chartHover)="chartHovered($event)"
                                                (chartClick)="chartClicked($event)"></canvas>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-12" style="padding-left: 40px">
                                        <table class="table table-responsive table-condensed" style="table-layout: fixed">
                                            <thead>
                                                <tr>
                                                    <th>Tipo</th>
                                                    <th *ngFor="let label of lineChartLabels">{{label}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let d of lineChartData; let i=index" [class]="'line-'+i">
                                                    <td style="min-width: 200px">{{d.label}}</td>
                                                    <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div style="padding-left: 7px" class="table-actions-theme row">
                                            <div class="col-sm-4 col-md-3 col-lg-2">
                                                <button mat-button mat-raised-button color="primary" (click)="semanal()" matTooltip="Mostrar por semana" matTooltipClass="apptooltip">
                                                    <mat-icon>today</mat-icon>
                                                    Semanal
                                                </button>
                                            </div>
                                            <div class="col-sm-4 col-md-3 col-lg-2">
                                                <button mat-button mat-raised-button color="primary" (click)="mensual()" matTooltip="Mostrar los últimos 6 meses" matTooltipClass="apptooltip">
                                                    <mat-icon>event_note</mat-icon>
                                                    Mensual
                                                </button>
                                            </div>
                                            <div class="col-sm-4 col-md-3 col-lg-2">
                                                <button mat-button mat-raised-button color="primary" (click)="anual()" matTooltip="Mostrar los últimos 5 años" matTooltipClass="apptooltip">
                                                    <mat-icon>date_range</mat-icon>
                                                    Anual
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-sm-12 col-md-12 col-lg-12">
                <div class="card-header card-header-info">
                    <h4 class="card-title">Últimos documentos emitidos</h4>
                </div>
                <div class="card-body">
                    <mat-table [dataSource]="lastEmmitedDataSource" matSort matSortActive="rucClient" matSortDirection="asc" matSortDisableClear>
                        <ng-container matColumnDef="rucCliente">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> RUC Cliente</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.rucClient}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="numSerie">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Número de Serie</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.numSerie}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="fecEmisionDoc">
                            <mat-header-cell *matHeaderCellDef style="width: 20%" mat-sort-header> Fecha Emisión</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.fecEmisionDoc | date:'dd/MM/yyyy' }} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="created_at">
                            <mat-header-cell *matHeaderCellDef style="width: 20%" mat-sort-header> Fecha Publicación</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.created_at | date:'dd/MM/yyyy' }} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="estadoSunat">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Estado Sunat</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.estadoSunat|estado}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="total">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="center-block"> Total</mat-header-cell>
                            <mat-cell *matCellDef="let element" class="center-block"> {{element.total | number:'1.2-3':'en-US' }} {{element.monedaTransaccion}}</mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </div>
            </div>
            <div class="card col-sm-12 col-md-12 col-lg-12">
                <div class="card-header card-header-success">
                    <h4 class="card-title">Últimos documentos aprobados</h4>
                </div>
                <div class="card-body">
                    <mat-table [dataSource]="lastAprovedDataSource" matSort matSortActive="rucClient" matSortDirection="asc" matSortDisableClear>
                        <ng-container matColumnDef="rucCliente">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> RUC Cliente</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.rucClient}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="numSerie">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Número de Serie</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.numSerie}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="fecEmisionDoc">
                            <mat-header-cell *matHeaderCellDef style="width: 20%" mat-sort-header> Fecha Emisión</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.fecEmisionDoc | date:'dd/MM/yyyy' }} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="created_at">
                            <mat-header-cell *matHeaderCellDef style="width: 20%" mat-sort-header> Fecha Publicación</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.created_at | date:'dd/MM/yyyy' }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="estadoSunat">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Estado Sunat</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.estadoSunat|estado}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="total">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="center-block"> Total</mat-header-cell>
                            <mat-cell *matCellDef="let element" class="center-block"> {{element.total | number:'1.2-3':'en-US' }} {{element.monedaTransaccion}}</mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row [ngClass]="{'danger-row': row.tipoTransaccion == 'B'}" *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </div>
            </div>
            <div class="card col-sm-12 col-md-12 col-lg-12">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">Últimos documentos rechazados</h4>
                </div>
                <div class="card-body">
                    <mat-table [dataSource]="lastRejectedDataSource" matSort matSortActive="rucClient" matSortDirection="asc" matSortDisableClear>
                        <ng-container matColumnDef="rucCliente">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> RUC Cliente</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.rucClient}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="numSerie">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Número de Serie</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.numSerie}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="fecEmisionDoc">
                            <mat-header-cell *matHeaderCellDef style="width: 20%" mat-sort-header> Fecha Emisión</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.fecEmisionDoc | date:'dd/MM/yyyy' }} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="created_at">
                            <mat-header-cell *matHeaderCellDef style="width: 20%" mat-sort-header> Fecha Publicación</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.created_at | date:'dd/MM/yyyy' }} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="estadoSunat">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Estado Sunat</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.estadoSunat|estado}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="total">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="center-block"> Total</mat-header-cell>
                            <mat-cell *matCellDef="let element" class="center-block"> {{element.total | number:'1.2-3':'en-US' }} {{element.monedaTransaccion}}</mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row [ngClass]="{'danger-row': row.tipoTransaccion == 'B'}" *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </div>
            </div>
            <div class="card col-sm-12 col-md-12 col-lg-12">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Últimos documentos de baja</h4>
                </div>
                <div class="card-body">
                    <mat-table [dataSource]="lastLowedDataSource" matSort matSortActive="rucClient" matSortDirection="asc" matSortDisableClear>
                        <ng-container matColumnDef="rucCliente">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> RUC Cliente</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.rucClient}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="numSerie">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Número de Serie</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.numSerie}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="fecEmisionDoc">
                            <mat-header-cell *matHeaderCellDef style="width: 20%" mat-sort-header> Fecha Emisión</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.fecEmisionDoc | date:'dd/MM/yyyy' }} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="created_at">
                            <mat-header-cell *matHeaderCellDef style="width: 20%" mat-sort-header> Fecha Publicación</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.created_at | date:'dd/MM/yyyy' }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="estadoSunat">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Estado Sunat</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.estadoSunat|estado}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="total">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="center-block"> Total</mat-header-cell>
                            <mat-cell *matCellDef="let element" class="center-block"> {{element.total | number:'1.2-3':'en-US' }} {{element.monedaTransaccion}}</mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </div>
            </div>
        </div>
    </div>
</div>
