<div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner strokeWidth="2" diameter="70" *ngIf="isLoadingResults" color="primary"></mat-spinner>
</div>
<div>
    <div class="row">
        <div class="col-sm-12">
            <h2 id="page-heading" style="font-size: 1.5rem;margin-bottom: 20px">
                <span>Clientes del sistema.</span>
                <button mat-raised-button color="primary" id="jh-create-entity" class="float-right jh-create-entity create-cliente" (click)="createCliente()">
                    <mat-icon>add</mat-icon>
                    <span class="hidden-sm-down">Nuevo Cliente</span>
                </button>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline" [formGroup]="formulario" (ngSubmit)="search()">
                <mat-accordion style="width: 100%">
                    <mat-expansion-panel style="width: 100%" #expansionPanel>
                        <mat-expansion-panel-header style="background-color: #4fc3f7">
                            <mat-panel-title>
                                <mat-icon>search</mat-icon>
                                Filtros de clientes
                            </mat-panel-title>
                            <mat-panel-description>
                                Seleccione los filtros para aplicar
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row pt-2">
                            <div class="col-sm-4">
                                <mat-form-field>
                                    <input matInput placeholder="Nombre de Cliente" formControlName="nombreClient">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                                <mat-form-field>
                                    <input matInput placeholder="Número de RUC" formControlName="rucClient">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                                <mat-form-field>
                                    <input matInput placeholder="Correo" formControlName="email">
                                </mat-form-field>
                            </div>
                        </div>

                        <mat-action-row class="table-actions-theme">
                            <button mat-raised-button color="primary" type="submit">
                                <mat-icon>search</mat-icon>
                                Buscar
                            </button>
                            <button type="button" mat-raised-button color="warn" (click)="reset()">
                                <mat-icon>clear_all</mat-icon>
                                Limpiar campos
                            </button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </mat-accordion>
            </form>
        </div>
    </div>
    <div class="table-responsive mat-elevation-z8" style="margin-top: 3px;">
        <div style="min-height: 660px;">
            <mat-table [dataSource]="dataSource" matSort matSortActive="rucClient" matSortDirection="asc" matSortDisableClear>

                <ng-container matColumnDef="rucClient">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> RUC Cliente</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.rucClient}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nombreClient">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Razón Social / Nombre</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.nombreClient}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Correo Electrónico</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.email}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="estadoCliente">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="center-block"> Estado</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="center-block">
                        <mat-chip-list class="table-actions-theme" style="padding-top: 10px;">
                            <mat-chip [color]="element.estadoCliente == '1' ? 'primary' : 'warn'" selected (click)="cambiarEstadoUsuario(element)"> {{element.estadoCliente == '1' ? "Activo" : "Desabilitado"}}</mat-chip>
                        </mat-chip-list>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <mat-header-cell *matHeaderCellDef class="center-block"> Acciones</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="center-block table-actions-theme">
                        <button mat-mini-fab color="primary" (click)="editCliente(element)"
                                matTooltip="Editar Cliente [{{element.nombreClient}}]" matTooltipClass="apptooltip">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-mini-fab color="warn" (click)="deleteCliente(element)"
                                matTooltip="Eliminar cliente [{{element.nombreClient}}]" matTooltipClass="apptooltip">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
        <div>
            <mat-paginator [length]="resultsLength" [pageSize]="15" [pageSizeOptions]="[5, 10, 15, 20, 50, resultsLength ]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>
