<nav class="navbar navbar-primary navbar-expand-md bg-primary mat-elevation-z4" *ngIf="isAuthenticated()">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
        <span class="navbar-title">{{'app.headerTitle'|configure}}</span>
    </a>
    <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
        <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/home" (click)="collapseNavbar()">
                    <mat-icon style="position: relative;top: 3px">home</mat-icon>
                    <span>Inicio</span>
                </a>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <button mat-button id="admin-menu" [matMenuTriggerFor]="menuAdmin">
                    <mat-icon>group_add</mat-icon>
                    <span>Administración</span>
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #menuAdmin="matMenu" xPosition="before" style="min-width: 100px">
                    <button mat-menu-item routerLink="/clientes">
                        <mat-icon>group</mat-icon>
                        <span>Clientes del Sistema</span>
                    </button>
                    <button mat-menu-item routerLink="/usuarios">
                        <mat-icon>account_box</mat-icon>
                        <span>Usuarios del Sistema</span>
                    </button>
                    <button mat-menu-item *ngSwitchCase="true" routerLink="/correos">
                        <mat-icon>lock</mat-icon>
                        <span>Configuración de Correo</span>
                    </button>
                </mat-menu>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <button mat-button id="account-menu" [matMenuTriggerFor]="menuCuenta">
                    <mat-icon>account_circle</mat-icon>
                    <span>Cuenta [{{username|async}}]</span>
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #menuCuenta="matMenu">
                    <button mat-menu-item *ngSwitchCase="true" routerLink="/account/password" routerLinkActive="active">
                        <mat-icon>lock</mat-icon>
                        <span>Contraseña</span>
                    </button>
                    <button mat-menu-item *ngSwitchCase="true" (click)="logout()" id="logout">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Cerrar Sesión</span>
                    </button>
                </mat-menu>
            </li>
        </ul>
    </div>
</nav>