<div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner strokeWidth="2" diameter="70" *ngIf="isLoadingResults" color="primary"></mat-spinner>
</div>

<div>
    <div class="row" style="padding: 20px">
        <div class="col-md-6">
            <h2><strong>Correo para envios</strong></h2>

            <div class="alert alert-success" *ngIf="success">
                <strong>Correo actualizado!</strong>
            </div>
            <div class="alert alert-danger" *ngIf="error">
                <strong>Ha ocurrido un error!</strong> {{error}}
            </div>
            <form name="form" role="form" #formulario (ngSubmit)="enviarDatos()" [formGroup]="formularioCorreo">    
                <div class="form-group">
                    <mat-form-field class="middle-width">
                       <input matInput  type="text" placeholder="Ingrese Correo" formControlName="correo">
                       <mat-error *ngIf="formularioCorreo.controls['correo'].errors?.required">Debe introducir un correo</mat-error>
                       <mat-error *ngIf="formularioCorreo.controls['correo'].errors?.email">Debe introducir un correo válido</mat-error>
                    </mat-form-field>
                    <mat-form-field class="middle-width">
                        <input matInput type="text" placeholder="Ingrese Contraseña" formControlName="clave">
                       <mat-error *ngIf="formularioCorreo.controls['clave'].errors?.required">Debe introducir una Contraseña</mat-error>
                    </mat-form-field>
                    <mat-form-field class="middle-width">
                        <input matInput type="text" placeholder="Ingrese Host" formControlName="host">
                       <mat-error *ngIf="formularioCorreo.controls['host'].errors?.required">Debe introducir un host</mat-error>
                    </mat-form-field>
                    <mat-form-field class="middle-width">
                        <input matInput type="text" placeholder="Ingrese Puerto" formControlName="puerto">
                        <mat-error *ngIf="formularioCorreo.controls['puerto'].errors?.required">Debe introducir un Puerto</mat-error>
                    </mat-form-field>
                    <mat-form-field class="middle-width">
                        <input matInput type="text" placeholder="Ingrese smtp" formControlName="smtp">
                        <mat-error *ngIf="formularioCorreo.controls['smtp'].errors?.required">Debe introducir un smtp</mat-error>
                    </mat-form-field>
                    
                    <div class="row" style="padding: 0 0 15px 15px">
                        <mat-label>Es Encriptado?</mat-label>
                        <mat-slide-toggle class="col-sm-6" formControlName="encriptado">{{formularioCorreo.controls['encriptado'].value == 1 ? 'Activo' : 'Desactivado'}}</mat-slide-toggle>
                    </div>
                </div>
                <!--<button type="submit" mat-raised-button color="primary" [disabled]="formularioCorreo.invalid">Guardar Datos</button>-->
                <button type="submit" mat-raised-button color="primary">Guardar Datos</button>
            </form>
        </div>
    </div>
</div>

 