<div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner strokeWidth="2" diameter="70" *ngIf="isLoadingResults" color="primary"></mat-spinner>
</div>
<div style="position:fixed;min-height:100%;min-width:100%;background-size: 100% 100%;background-image: url('../../../content/img/background.png')">
    <div class="container mt--8 pb-5" style="margin: 0;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary shadow border-0" disabled="true">
                    <div class="card-header bg-transparent pb-3">
                        <div class="text-dark text-center mt-2 mb-1">
                            <div class="row">
                                <div class="col-lg-2">
                                    <button mat-mini-fab color="primary" routerLink="/login">
                                        <mat-icon>arrow_back</mat-icon>
                                    </button>
                                </div>
                                <div class="col-lg-10">
                                    <h3 style="position: relative;top: 5px;right: 9%">Cambio de contraseña</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-dark mb-4">
                            Introduzca su nombre de usuario o correo para cambiar su contraseña.
                        </div>
                        <form role="form" name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
                            <div class="alert alert-danger" *ngIf="errorEmailNotExists">
                                <strong>{{message}}</strong>
                            </div>
                            <div class="alert alert-success" *ngIf="success === 'OK'">
                                {{message}}
                            </div>
                            <div class="form-group">
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <mat-icon style="position: relative;top: 2px">email</mat-icon>
                                        </span>
                                        </div>
                                        <input class="form-control" #emailInput placeholder="Nombre de Usuario (RUC) o Correo electrónico" type="text" id="email" name="email" autofocus formControlName="email">
                                    </div>
                                </div>
                                <div *ngIf="resetRequestForm.get('email').invalid && (resetRequestForm.get('email').dirty || resetRequestForm.get('email').touched)">
                                <span class="form-text text-danger" *ngIf="resetRequestForm.get('email').errors.required">
                                    El correo o usuario es obligatorio.
                                </span>
                                <span class="form-text text-danger" *ngIf="resetRequestForm.get('email').errors.maxlength">
                                    El correo no debe ser mayor a 100 caracteres.
                                </span>
                                </div>
                            </div>
                            <div class="text-center table-actions-theme">
                                <button mat-raised-button [color]="authenticationError?'warn':'primary'" [disabled]="resetRequestForm.invalid">
                                    <mat-icon>lock_open</mat-icon>
                                    Cambiar Contraseña
                                    <mat-icon>keyboard_arrow_right</mat-icon>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>