<div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner strokeWidth="2" diameter="70" *ngIf="isLoadingResults" color="primary"></mat-spinner>
</div>
<div>
    <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-10">
            <h2 id="page-heading" style="font-size: 1.5rem;margin-bottom: 20px">
                <span>{{tipoDocumento.title}}</span>
            </h2>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-2">
            <div class="pull-right" style="padding-right: 10px">
                <!--<button mat-mini-fab color="primary" style="margin-right: 10px" matTooltip="Exportar a PDF" matTooltipClass="apptooltip" (click)="exportarPDF()">
                    <mat-icon>picture_as_pdf</mat-icon>
                </button>-->
                <button mat-mini-fab class="btn-success-color" matTooltip="Exportar a Excel" matTooltipClass="apptooltip" (click)="exportarTabla()">
                    <mat-icon>file_download</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline" [formGroup]="formulario" (ngSubmit)="search()">
                <mat-accordion style="width: 100%">
                    <mat-expansion-panel style="width: 100%" #expansionPanel>
                        <mat-expansion-panel-header style="background-color: #4fc3f7">
                            <mat-panel-title>
                                <mat-icon>search</mat-icon>
                                Filtros de documentos
                            </mat-panel-title>
                            <mat-panel-description>
                                Seleccione los filtros para aplicar
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row pt-2">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <mat-form-field>
                                            <input matInput placeholder="Serie de Comprobante" formControlName="numSerie" [matAutocomplete]="autoSerie">
                                            <mat-autocomplete #autoSerie="matAutocomplete">
                                                <mat-option *ngFor="let serie of series" [value]="serie.serie">
                                                    {{serie.serie}}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6">
                                        <mat-form-field>
                                            <input matInput placeholder="Número de Comprobante" formControlName="numero">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="fechaInicio" placeholder="Seleccione fecha inicio" formControlName="fechaEmisionInicio"
                                                   [errorStateMatcher]="matcher" [matDatepickerFilter]="filterDaysInicial" (click)="showFechaInicio()" (focus)="showFechaInicio()">
                                            <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
                                            <mat-datepicker #fechaInicio></mat-datepicker>
                                            <button mat-button *ngIf="formulario.get('fechaEmisionInicio').value" matSuffix mat-icon-button
                                                    aria-label="Clear" (click)="formulario.get('fechaEmisionInicio').setValue('')">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6">
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="fechaFin" placeholder="Seleccione fecha fin" formControlName="fechaEmisionFin"
                                                   [errorStateMatcher]="matcher" [matDatepickerFilter]="filterDaysFinal" (click)="showFechaFin()" (focus)="showFechaFin()">
                                            <mat-datepicker-toggle matSuffix [for]="fechaFin"></mat-datepicker-toggle>
                                            <mat-datepicker #fechaFin></mat-datepicker>
                                            <button mat-button *ngIf="formulario.get('fechaEmisionFin').value" matSuffix mat-icon-button
                                                    aria-label="Clear" (click)="formulario.get('fechaEmisionFin').setValue('')">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input type="text" placeholder="Tipo Moneda" matInput formControlName="monedaTransaccion" [matAutocomplete]="auto">
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let tipoMoneda of tiposMoneda" [value]="tipoMoneda.monedaTransaccion">
                                            {{tipoMoneda.monedaTransaccion}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder="Número de RUC" formControlName="rucClient">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput placeholder="Estado Sunat" formControlName="estadoSunat" [matAutocomplete]="autoEstado">
                                    <mat-autocomplete #autoEstado="matAutocomplete">
                                        <mat-option *ngFor="let estado of estados" [value]="estado.estadoSunat|estado">
                                            {{estado.estadoSunat|estado}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder="Razón Social" formControlName="razonSocial">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input matInput placeholder="Ruc Emisor" formControlName="rucEmisor">
                                </mat-form-field>
                            </div>
                        </div>
                        <mat-action-row class="table-actions-theme">
                            
                            <button mat-raised-button color="primary" type="submit">
                                <mat-icon>search</mat-icon>
                                Buscar
                            </button>
                            <button type="button" mat-raised-button color="warn" (click)="reset()">
                                <mat-icon>clear_all</mat-icon>
                                Limpiar campos
                            </button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </mat-accordion>
            </form>
        </div>
    </div>
    <div class="table-responsive mat-elevation-z8" style="margin-top: 3px;">
        <div style="min-height: 660px;">
            <kendo-pdf-export #pdf>
                <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort matSortActive="fecEmisionDoc" matSortDirection="desc" matSortDisableClear matTableExporter #tableMat #exporter="matTableExporter"
                       hiddenColumns="[0,6,7,8,9]">
                    <ng-container matColumnDef="expandido">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="primary" (click)="expandCollapse($event,element)" matTooltip="Desplegar para ver más detalles" matTooltipClass="apptooltip">
                                <mat-icon aria-label="Example icon-button with a heart icon" class="boton" [class.rotate-180]="element==expandedElement">expand_more</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="rucClient">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> RUC Cliente</th>
                        <td mat-cell *matCellDef="let element" (click)="expandedElement = expandedElement === element ? null : element">
                            {{element.rucClient}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="numSerie">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Número de Serie</th>
                        <td mat-cell *matCellDef="let element" (click)="expandedElement = expandedElement === element ? null : element">
                            {{element.numSerie}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="fecEmisionDoc">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Emisión</th>
                        <td mat-cell *matCellDef="let element" (click)="expandedElement = expandedElement === element ? null : element">
                            {{element.fecEmisionDoc | date:'dd/MM/yyyy' }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="created_at">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Publicación</th>
                        <td mat-cell *matCellDef="let element" (click)="expandedElement = expandedElement === element ? null : element">
                            {{element.created_at | date:'dd/MM/yyyy' }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="estadoSunat">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado Sunat</th>
                        <td mat-cell *matCellDef="let element" (click)="expandedElement = expandedElement === element ? null : element">
                            {{element.estadoSunat|estado}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="block-right"> Total</th>
                        <td mat-cell *matCellDef="let element" class="block-right" (click)="expandedElement = expandedElement === element ? null : element">
                            {{element.total | number:'1.2-3':'en-US' }} {{element.monedaTransaccion}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="docPdf">
                        <th mat-header-cell *matHeaderCellDef class="center-block"> PDF</th>
                        <td mat-cell *matCellDef="let element" class="center-block table-actions-theme">
                            <button mat-mini-fab color="primary" (click)="downloadDocument(element,'pdf')"
                                    matTooltip="Descargar pdf [{{element.numSerie}}]" matTooltipClass="apptooltip">
                                <mat-icon>picture_as_pdf</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="docXml">
                        <th mat-header-cell *matHeaderCellDef class="center-block"> XML</th>
                        <td mat-cell *matCellDef="let element" class="center-block">
                            <button mat-mini-fab color="primary" (click)="downloadDocument(element,'xml')" class="btn-success-color"
                                    matTooltip="Descargar xml [{{element.numSerie}}]" matTooltipClass="apptooltip">
                                <mat-icon>code</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="docCdr">
                        <th mat-header-cell *matHeaderCellDef class="center-block"> CDR</th>
                        <td mat-cell *matCellDef="let element" class="center-block">
                            <button mat-mini-fab color="primary" (click)="downloadDocument(element,'cdr')" class="btn-info-color"
                                    matTooltip="Descargar CDR [{{element.numSerie}}]" matTooltipClass="apptooltip">
                                <mat-icon>archive</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="correo">
                        <th mat-header-cell *matHeaderCellDef class="center-block"> Reenvío de Correo</th>
                        <td mat-cell *matCellDef="let element" class="center-block">
                            <button mat-mini-fab color="primary" (click)="sendEmail(element)" class="btn-warning-color"
                                    matTooltip="Reenviar correo del documento [{{element.numSerie}}]" matTooltipClass="apptooltip">
                                <mat-icon>email</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="expandedDetail">
                        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                            <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                <div class="card-body">
                                    <div class="element-description">
                                        <mat-chip-list aria-label="Fish selection">
                                            <mat-chip color="primary" class="btn-info-color" selected>
                                                <span class="element-description-attribution"> {{element.cliente|clienteRazon}}</span>
                                            </mat-chip>
                                            <mat-chip color="primary" class="btn-info-color" selected>
                                                <span class="element-description-attribution"> {{element.cliente|clienteEmail}}</span>
                                            </mat-chip>
                                            <!--<mat-chip color="primary" class="btn-info-color" selected>
                                                <span class="element-description-attribution"> {{element.cliente|clienteDireccion}}</span>
                                            </mat-chip>-->
                                        </mat-chip-list>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; let element; columns: displayedColumns;"
                        [ngClass]="{'danger-row': row.tipoTransaccion == 'B', 'info-row': row.tipoTransaccion != 'B'}"
                        class="element-row"
                        [class.expanded-row]="expandedElement == element">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
                </table>
            </kendo-pdf-export>
        </div>
        <div>
            <mat-paginator [length]="resultsLength" [pageSize]="15" [pageSizeOptions]="[5, 10, 15, 20, 50, resultsLength ]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>