.mat-column-expandido {
  flex: 0.07 !important;
}

.mat-column-numSerie {
  flex: 1.6 !important;
}

.mat-column-estadoSunat {
  flex: 0.7 !important;
}

.mat-column-docPdf, .mat-column-docXml, .mat-column-docCdr {
  flex: 0.4 !important;
}

th.mat-column-rucClient {
  flex: 0.9 !important;
}

.mat-column-fecEmisionDoc {
  flex: 0.8 !important;
}

.mat-column-created_at {
  flex: 0.8 !important;
}

.mat-column-correo {
  flex: 0.8 !important;
}

.mat-column-total {
  justify-content: center;
}

.mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
  padding-left: 10px !important;
}

.element-row:not(.expanded-row):hover {
  background: #f5f5f5;
}

.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-description {
  padding: 5px 8px;
  position: relative;
  left: 45px;
}

.element-description-attribution {
  opacity: 0.9;
}

.boton {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.rotate-180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

.table-responsive {
  min-height: 600px;
}

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.block-right {
  justify-content: flex-end;
}

th.mat-header-cell {
  text-align: center !important;
}